html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block; vertical-align: bottom}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; }
body { width:100%; color: #5e5e5e; font:12px/20px "微软雅黑",HELVETICA; background:#fff;/* overflow-y:scroll;*//* overflow-x:hidden;*/}
a { color:#666; text-decoration:none; }
body{
	background:url(../img/logback.png) no-repeat;
	min-width: 960px;
	min-height: 539px;
}
.login{
	width:255px;
	height:303px;
	background:url(../img/logwite.png) no-repeat;
	background-size: 255px 303px;
	float:left;
	left:50%;
	top:50%;
	position:fixed;
	margin-left: -123px;
	margin-top: -101px;
}
.user-number{
	width:211px;
	height:32px;
	float:left;
	margin-top: 97px;
	margin-left: 26px;
	border-bottom: 1px solid rgb(213,213,213);
	color:rgb(164,164,164);
}
.user-number img{
	width:18px;
	height:20px;
	float:left;
	margin-right: 8px;
	margin-top: 5px;
}
.user-number-t{
	outline: none;
	width:178px;
	height:32px;
	border:0;
	font-size: 12px;
	font-family: "微软雅黑";
	-webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.8);
}
.user-password{
	width:211px;
	height:32px;
	float:left;
	margin-top: 30px;
	margin-left: 26px;
	border-bottom: 1px solid rgb(213,213,213);
	color:rgb(164,164,164);
}
.user-password img{
	width:14px;
	height:20px;
	float:left;
	margin-right: 12px;
	margin-top: 5px;
}
.user-password-b{
	font-family: "微软雅黑";
	outline: none;
	width:178px;
	height:32px;
	border:0;
	font-size: 12px;
	-webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.8);
}
.forget{
	display:block;
	font-size: 12px;
	float:right;	
	white-space: nowrap;
	margin-top: 2px;
	margin-right: 8px;
	color: rgb(164,164,164);
	-webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.8);
}
.click-regester{
	display:block;
	font-size: 12px;
	float:left;	
	white-space: nowrap;
	text-align: center;
	width:255px;
	color: rgb(164,164,164);
}
.user-login{
	width:211px;
	float:left;
	height:40px;
	background:url(../img/login.png) no-repeat;
	background-size: 211px 40px;
	color:rgb(210,219,217);
	font-family: "微软雅黑";
	border:0;
	margin-left: 26px;
	margin-top:7px;
}
.user-login:focus{
	background:url(../img/logfocus.png) no-repeat;
	border:0;
	background-size:211px 40px ;
}
