.management-content{
	width:960px;
	margin:0 auto;
	min-height:575px;
	height:auto!important; 
	height:575px;
}
.management-left{
	float:left;
	width:264px;
	height:503px;
}
.management-content-left{
	width:214px;
	height:424px;
	float:left;
	background-color:rgb(126,206,243);
	padding-left:23px;
	padding-right: 23px;
}
.management-left-top{
	border-bottom: 2px solid rgb(114,166,188);
	width:100%;
	height:196px;
}
/*竖着字体设置*/
.cont-left-manageright{
	margin-top: 50px;
	float:right;
	width:64px;
	height:146px;
	color:white;
	position:relative;
}
.manageright-left-words{
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	text-transform:capitalize;
	text-align: center;
	display:block;
	font-size: 17px;
	position: absolute;
	bottom:64px;
	right:-20px;
	font-weight: bold;
}
.manageright-right-words{
	float:right;
	display:block;
	font-size: 32px;
	font-weight: bold;
	line-height: 34px;
}
/*左边用户部分*/
.management-username{
	float:left;
	width:146px;
}
/*用户照片*/
.management-username img{
	width:70px;
	height:75px;
	float:left;
	background-color:rgb(193,193,193);
	margin-top: 60px;
}
/*个人信息*/
.user-management{
	font-family: "微软雅黑";
	margin-top: 14px;
	float:left;
}
.user-management .username-management-name{
	display:block;
	font-weight: bold;
	float:left;
	color:black;
	font-size: 15px;
}
/*登录后账号*/
.management-username .management-number{
	display:block;
	float:left;
	color:black;
	font-size: 14px;
	
}
/*账号：*/
.management-username .management-number-fiex{
	display:block;
	float:left;
	color:black;
	font-size: 15px;
	font-weight: bold;
	margin-right: 8px;
}
/*左边下半部分*/
.cont-manage-bottom{
	float:left;
	margin-top: 25px;
}
.cont-manage-bottom li a{
	display:block;
	font-size: 19px;
	color:white;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}
.cont-manage-bottom a:focus{
	color:#464d57;
}
/*发起项目*/
.post-project{
	width:137px;
	height:60px;
	float:right;
	margin-top:16px;
	background:rgb(126,206,243);
	color:white;
	font-size: 30px;
	font-family: "微软雅黑";
	border: 0;
}
/*右半部分*/
.management-right{
	float:left;
	margin-left: 100px;
	margin-top: 90px;
}
.management-right ul{
	float:left;
}
.manage-project{
	height:35px;
	background:rgb(126,206,243);
	text-align: center;
}
