.management-content{
	width:960px;
	margin:0 auto;
	min-height:984px;
	height:auto!important; 
	height:984px;
}
.management-left{
	float:left;
	width:264px;
	height:503px;
}
.management-content-left{
	width:214px;
	height:424px;
	float:left;
	background-color:rgb(126,206,243);
	padding-left:23px;
	padding-right: 23px;
}
.management-left-top{
	border-bottom: 2px solid rgb(114,166,188);
	width:100%;
	height:196px;
}
/*竖着字体设置*/
.cont-left-manageright{
	margin-top: 50px;
	float:right;
	width:64px;
	height:146px;
	color:white;
	position:relative;
}
.manageright-left-words{
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	text-transform:capitalize;
	text-align: center;
	display:block;
	font-size: 17px;
	position: absolute;
	bottom:64px;
	right:-20px;
	font-weight: bold;
}
.manageright-right-words{
	float:right;
	display:block;
	font-size: 32px;
	font-weight: bold;
	line-height: 34px;
}
/*左边用户部分*/
.management-username{
	float:left;
	width:146px;
}
/*用户照片*/
.management-username img{
	width:70px;
	height:75px;
	float:left;
	background-color:rgb(193,193,193);
	margin-top: 60px;
}
/*个人信息*/
.user-management{
	font-family: "微软雅黑";
	margin-top: 14px;
	float:left;
}
.user-management .username-management-name{
	display:block;
	font-weight: bold;
	float:left;
	color:black;
	font-size: 15px;
}
/*登录后账号*/
.management-username .management-number{
	display:block;
	float:left;
	color:black;
	font-size: 14px;
	
}
/*账号：*/
.management-username .management-number-fiex{
	display:block;
	float:left;
	color:black;
	font-size: 15px;
	font-weight: bold;
	margin-right: 8px;
}
/*左边下半部分*/
.cont-manage-bottom{
	float:left;
	margin-top: 25px;
}
.cont-manage-bottom li a{
	display:block;
	font-size: 19px;
	color:white;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}
.cont-manage-bottom a:focus{
	color:#464d57;
}
.xq-content-right{
	width:560px;
	margin-top: 104px;
	height:auto;
	float:left;
	margin-left: 102px;
}
.xq-project-name{
	width:100%;
	height:320px;
	border-top: 2px solid rgb(64,109,128);
}
.xq-project-title{
	width:100%;
	font-size: 35px;
	color:rgb(1,140,195);
	font-weight: bold;
	display: inline-block;
	margin-top: 28px;
}
.xq-leader{
	font-size: 17px;
	color:rgb(14,55,75);
	display: inline-block;
	font-weight: bold;
	margin-top: 16px;
}
.xq-project-name p{
	font-size: 12px;
	color:black;
	font-weight: bold;
	text-indent: 2rem;
	margin-top: 109px;
	float:left;
}
.xq-modify-right{
	width:100%;
	height:239px;
	border-top: 2px solid rgb(64,109,128);
	position: relative;
}
.xq-modify1{
	float:left;
	width:100%;
	margin-top: 39px;
	font-size: 12px;
	color:black;
	text-align: left;
}
.xq-modify2,.xq-modify3{
	float:left;
	width:100%;
	margin-top: 18px;
	font-size: 12px;
	color:black;
	text-align: left;
}
.xq-employ{
	position: absolute;
	width:34px;
	height:34px;
	left:240px;
	top:117px;
}
.xq-employ input{
	width:34px;
	float:left;
	margin-bottom: 1px;
	height:16px;
	background:rgb(126,206,243);
	border:0;
	color:white;
	font-size: 12px;
	font-family: "微软雅黑";
}
.modify-data{
	width:103px;
	height:33px;
	background:rgb(126,206,243);
	color:white;
	border:0;
	font-size: 15px;
	font-family: "微软雅黑";
	float:right;
	position:absolute;
	right:0;
	bottom:10px;
}
.xq-content-bottom{
	width:100%;
	height:auto;
	border-top: 2px solid rgb(64,109,128);
	float:left;
}
.xq-content-bottom ul{
	color:black;
	float:left;
	margin-top: 22px;
}
.xq-bottom-but{
	width:100%;
	height:35px;
	float:left;
	margin-top: 24px;
}
.xq-bottom-but button{
	width:100px;
	background:rgb(126,206,243);
	height:35px;
	border:0;
	font-family: "微软雅黑";
	color:white;
	font-size: 15px;
}
